name: Update Major Release Tag

on:
  release:
    types: [created]

jobs:
  update-tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Get major version num and update tag
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          MAJOR=${VERSION%%.*}
          git config user.name "$(git log -n 1 --pretty=format:%an)"
          git config user.email "$(git log -n 1 --pretty=format:%ae)"
          echo "Updating ${MAJOR} tag"
          git tag -fa ${MAJOR} -m "Update major version tag"
          git push origin ${MAJOR} --force